body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    background-image: url(Imágenes/question-mark-set-of-isolated-icons-help-sign-speech-bubble-chat-question-icon-question-concept-free-vector.jpg); 
    background-size: cover; 
}

#cuadro {
    text-align: center;
    padding: 20px;
    border: 2px solid #8b2a2a;
    border-radius: 10px;
    background-color: rgba(224, 227, 212, 0.8); 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#boton {
    margin-top: 0px; 
    padding: 10px 20px;
    background-color: #007bff; 
    color: #fff; 
    border: seagreen;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

#boton:hover {
    background-color: #0056b3; 
}

